<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizword">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizWord">
        <activity android:name=".Level7"></activity>
        <activity android:name=".BossAct6" />
        <activity android:name=".Level6" />
        <activity android:name=".BossAct5" />
        <activity android:name=".Level5" />
        <activity android:name=".BossAct4" />
        <activity android:name=".Level4" />
        <activity android:name=".BossAct3" />
        <activity android:name=".BossAct2" />
        <activity android:name=".Level3" />
        <activity android:name=".simp" />
        <activity android:name=".Level2" />
        <activity android:name=".BossAct" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuizWord.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>